body {
  background-color: #f0f0f0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1.4rem;
  line-height: 1.5;
  color: #0c0c0c;
}

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-icons {
  margin-left: 10px;
  color: #f0f0f0;
}

.nav {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;

  background-color: #c0c0c0;

  position: fixed;
  z-index: 3;
}

.main {
  padding: 50px;
}

.heading {
  margin: 10px auto;
  text-align: center;
}

.paragraph {
  margin: 20px;
}

.burger-btn {
  height: 20px;
  width: 30px;
  margin-left: 20px;

  cursor: pointer;

  position: relative;

  transition: all .2s linear;
}

.burger-btn:before,
.burger-btn span,
.burger-btn:after {
  height: 2px;
  width: 30px;

  background-color: #0c0c0c;

  content: "";
  position: absolute;

  transition: all .2s linear;
}

.burger-btn:hover.burger-btn span,
.burger-btn:hover.burger-btn:before,
.burger-btn:hover.burger-btn:after {
  background-color: #f0f0ff;
}

.burger-btn:before {
  top: 0;
}

.burger-btn span {
  top: 50%;

  transform: translateY(-50%);
}

.burger-btn:after {
  bottom: 0;
}

.burger-btn.active {
  transform: translateY(60px);
}

.burger-btn.active span {
  opacity: 0;
}

.burger-btn.active.burger-btn:before,
.burger-btn.active.burger-btn:after {
  background-color: #9ac5e9;

  top: 50%;

  transition: all .2s linear;
}

.burger-btn.active.burger-btn:before {
  transform: rotate(45deg);
}

.burger-btn.active.burger-btn:after {
  transform: rotate(-45deg);
}

.burger-btn:hover.active.burger-btn:before,
.burger-btn:hover.active.burger-btn:after {
  background-color: #f0f0ff;
}

.burger-btn:hover.active.burger-btn:before {
  transform: rotate(0deg);
}

.burger-btn:hover.active.burger-btn:after {
  transform: rotate(-90deg);
}